.title {
  font-size: 2.25rem;
  color: var(--foreground-secondary);
}

.subtitle {
  font-size: 0.875rem;
  color: var(--foreground-secondary);
}

.content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  min-width: 0;
}

.inputContainers{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
}

.cardButtons{
  display: flex;
  justify-content: flex-end;
}

.search {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--border);
  border-radius: 6px;
  padding: 0 0.5rem;
  flex: 1;
  min-width: 250px;
  max-width: 400px;
}

.select {
  border-radius: 6px;
  height: 40px;
  padding: 0 1rem;
  flex: 1;
  min-width: 180px;
  max-width: 200px;
}

.searchInput {
  border: none;
  outline: none;
  width: 100%;
  padding: 0.5rem;
}

.cardHeaderActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.cardTitle {
  font-size: 1.25rem;
  color: var(--primary);
}

.buttonExport {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--primary);
  color: var(--text-light);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s;
}

.buttonExport:hover {
  background-color: var(--secondary);
}

.loading {
  text-align: center;
  padding: 2rem;
  font-size: 1.25rem;
  color: var(--primary);
}