.container {
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    min-height: 100dvh;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: url('/layered-waves.svg')
    no-repeat center center / cover;
}

:global(.dark) :local(.content) {
    background: url('/layered-waves-dark.svg')
    no-repeat center center / cover;
}

.mainContent {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}