.expanded {
    background-color: var(--av-primary);
    min-width: var(--menu-w-min);
    padding: var(--space-4) 0;
    display: flex;
    flex-direction: column;
    width: var(--menu-w);
    gap: var(--space-4);
    transition: min-width var(--t-base);
    z-index: 110;
}

.minimized {
    background-color: var(--av-primary);
    min-width: var(--menu-w-min);
    padding: var(--space-4) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-4);
    transition: min-width var(--t-base);
    z-index: 110;
}

.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--neutral-50);
    padding: 0 var(--space-2);
    margin-bottom: var(--space-4);
}

.logoImg {
    display: flex;
    height: 30px;
    /* width: auto; */
    margin: var(--space-2) 0;
}

.hamburger {
    cursor: pointer;
    font-size: 25px;
    transition: transform var(--t-base);
}

.hamburger:hover {
    transform: scale(1.2);
}

.menuContainer {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuWrapper {
    list-style: none;
}

.menuCard {
    height: 35px;
    margin: 0 var(--space-2);
    padding: var(--space-2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--neutral-50);
    font-size: var(----fs-sm);
    cursor: pointer;
    transition: all var(--t-base);
    gap: var(--space-2);
    position: relative;
    border-left: 1px solid transparent;
}

.selectedMenu{
    background-color: var(--av-secondary);
    border-left: 5px solid var(--av-accent);
}

.expandIcon {
    height: 25px;
    margin-left: auto;
    transition: transform var(--t-base);
    flex-shrink: 0;
}

.expandIcon.rotated {
    transform: rotate(180deg);
}

.menuCard span {
    margin: 0;
    white-space: nowrap;
    flex: 1;
    font-weight: var(--w-bold);
    color: var(--neutral-50);    
}

.menuCard:hover {
    background-color: var(--av-secondary);
    border-left: 5px solid var(--av-accent);
}

.submenu {
    display: flex;
    flex-direction: column;
    gap: 0;
    list-style: none;
    padding: 0;
    margin: 0 var(--space-2);
    background-color: rgba(0, 0, 0, 0.18);
    border-left: 3px solid var(--av-accent);
    animation: slideDown var(--t-base);
}

.submenuItem {
    padding: var(--space-2) var(--space-4);
    color: var(--neutral-50);
    font-size: var(--fs-sm);
    cursor: pointer;
    transition: all var(--t-base);
    padding-left: var(--space-7);
}

.submenuItem:hover {
    background-color: var(--av-secondary);
}

.hidden {
    display: none;
}

.link {
    text-decoration: none;
    color: inherit;
}

@keyframes slideDown {
    from {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
    }

    to {
        opacity: 1;
        max-height: 500px;
    }
}

@media screen and (max-width: 768px) {
    .menuContainer {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .expanded,
    .minimized {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 80px;
    }

    .logo>svg {
        display: none;
    }

    .menuCard>span {
        display: none;
    }

    .submenu {
        background-color: var(--primary);
    }
}