:root {
  --background: #f3f3f3;
  --foreground: #3b456a;
  --primary: #081437;
  --secondary: #334155;
  --tertiary: #0F172A;
  --neutral: #e7e8eb;
  --secondary-border: #e2e8f0;
  --white: #FFFFFF;
  --black: #000000;
  --red: #dc2626;
  --red-accent: #b91c1c;
  --red-neutral: #fef2f2;

  --font-primary-dark: #191c1e;
  --font-secondary-dark: #45464e;
  --font-primary-light: #e7e8eb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3f3f3;
    --foreground: #3b456a;
  }
}

