/* *{
  border:1px solid red;
} */
:root {
  /* backgrounds */
  --background: #f3f3f3;
  --surface: #ffffff;
  --surface-secondary: #e7e8eb;

  /* text */
  --foreground: #191c1e;
  --foreground-secondary: #45464e;
  --foreground-tertiary: #e7e8eb;

  /* brand */
  --primary: #081437;
  --secondary: #334155;
  --tertiary: #0f172a;

  /* borders */
  --border: #e2e8f0;

  /* status */
  --danger: #dc2626;
  --danger-hover: #b91c1c;
  --danger-soft: #fef2f2;

  /* misc */
  --white: #ffffff;
  --black: #000000;

  color: var(--foreground);

  input[type="text"] {
    color: var(--black);
  }
}

.dark {
  /* backgrounds */
  --background: #020617;
  --surface: #101424;
  --surface-secondary: #1e293b;
  
  /* text */
  --foreground: #f8fafc;
  --foreground-secondary: #cbd5e1;
  --foreground-tertiary: #e7e8eb;

  /* brand */
  --primary: #081437;
  --secondary: #64748b;
  --tertiary: #94a3b8;

  /* borders */
  --border: #334155;

  /* status */
  --danger: #ef4444;
  --danger-hover: #dc2626;
  --danger-soft: #3b0d0d;

  /* misc */
  --white: #ffffff;
  --black: #000000;
}