.header {
    background-color: var(--white);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    z-index: 100;
}

.search {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid var(--secondary);
    border-radius: 4px;
    padding: 0 0.5rem;
    width: 400px;
}

.searchInput {
    border: none;
    outline: none;
    width: 100%;
    padding: 0.5rem;
}

.configMenu{
    width: 100px;
    top: 0;
    right: -50px;
    position: relative;
}

/**********************************/
.avatarContainer {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.configMenu {
  position: absolute;
  top: 125%;
  right: 0;
  width: 200px;
  background-color: var(--white);
  border: 1px solid var(--neutral);
  /* border-top: none; */
  border-radius: 0  0 8px 8px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
  z-index: 50;
  display: flex;
  flex-direction: column;
}

.userInfo {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
}

.userName {
  font-size: 1rem;
  color: var(--font-primary-dark);
}

.userEmail {
  font-size: 0.75rem;
  color: var(--font-secondary-dark);
}

.divider {
  border: 0;
  height: 1px;
  background: var(--neutral);
  margin: 0.5rem;
}

.logoutButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0 1rem;
  font-size: 1.15rem;
  color: var(--red);
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.15s ease;
}

.logoutButton:hover {
  background-color: var(--red-neutral);
  color: var(--red-accent);
}